<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Categorias</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Em breve</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>UniCV Foods</ion-title>
      <ion-button size="small" slot="end">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-toolbar>
      <ion-slides  pager="false" class="slide-line" [options]="slideOpts">
        <ion-slide *ngFor="let categoria of categorias; let ix = index" [ngClass]="categoria.codigo == selected ? 'slide-actived' : 'slide-no-actived'" (click)="setSelected(categoria.codigo)">
          {{ categoria.nome }}
        </ion-slide>
      </ion-slides>
    </ion-toolbar>
  </ion-content>
</div>